@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.scroll-hidden {
  scrollbar-width: none;      
  -ms-overflow-style: none;  
}

.scroll-hidden::-webkit-scrollbar {
  display: none;              
}